{% extends 'base.html.twig' %}

{% block title %}Rappro{% endblock %}

{% block body %}
    <h1 class="p-3 mb-2 bg-info text-white text-center"><strong>CommTrace l'outil de traçage de commissions</strong></h1>
        
{% endblock %}
